/*****************tag selectors*******************/
h1{
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    padding-bottom: 10px;
}
h2{
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 20px;
}
body{
    font-family: 'Slabo 27px', serif;
    font-size: 1rem;
}
/****************title**************/
.nav-item{
    padding-left: 30px;
}
#title-section{
    background-color: #fce38a;
}
#title{
    padding-bottom: 80px;
}
#title-images{
    position: relative;
    padding-left: 60px;
    padding-top: 30px;
}
#last-supper{
    width: 60%;
    border-radius: 2%;
    position: absolute;
    left: 20px;
    top: 20px;
    filter: opacity(0.9);
}
#virgin-of-the-rocks{
    width: 25%;
    border-radius: 2%;
    position: absolute;
    right: 200px;
    top: 170px;
    z-index:1;
    filter: opacity(0.9);
}
#mona-lisa-title{
    width: 25%;
    border-radius: 2%;
    position: absolute;
    top: 100px;
    right: 100px;
    filter: opacity(0.9);
}
#main-title{
    padding: 3% 5%;
}
@media(max-width:1028px){
    #title-images{
        position: static;
    }
    #last-supper{
        position: static;
    }
    #virgin-of-the-rocks{
        position: static;
    display: none;
    }
    #mona-lisa-title{
        position: static;
        display: none;
    }
}
/****************mona lisa**************/
#mona-lisa{
    background-color: #95a792;
    padding: 7% 15%;
}
#mona-lisa-2{
    width: 50%;
    border-radius: 2%;
    padding-top: 20px;
}
/***********Leonardo**************/
#Leonardo{
    padding: 7% 15%;
background-color: #c7b198;
}
#leonardo-image{
    width: 80%;
    border-radius: 2%;
}
/****************sacred feminine and his beliefs**************/
#sacred-feminine{
    text-align: center;
    padding: 3% 15%;
    background-color: #f7f48b;
}
#phi{
    width: 25%;
    margin: 10px auto;
}
#the-pentagon{
    width: 20%;
    margin-bottom: 20px;
}
#c-item{
    height: 400px;
    padding: 20px;
}
/****************more info**************/
#more-info{
    background-color: #537780;
    padding: 3% 5%;
    text-align: center;
}